sphinx
sphinx-autobuild
sphinx_fontawesome
sphinx_rtd_theme
sphinx_py3doc_enhanced_theme
sphinxcontrib-blockdiag
sphinxcontrib-seqdiag
sphinxcontrib-actdiag
sphinxcontrib-nwdiag
sphinxcontrib-plantuml
python-levenshtein
