div.section > h1 {
  margin-left: 0px;
}
div.section > h2 {
  margin-left: 0px;
  border-bottom: solid #c0c0c0;
}
div.section > h3 {
  margin-left: 20px;
  border-bottom: solid #c0c0c0 thin;
}
div.section > h4 {
  margin-left: 40px;
}

div.section {
  margin-bottom: 40px;
}
table.align-default {
  margin-left: 40px;
}
div.body th.head > p, div.body th.stub > p {
  text-align: center;
}
div.body table.center td > p {
  text-align: center;
}
caption {
  text-align: left;
}
